<div class="album-list">
  {{#each controller}}
    <div class="album">
      <img {{bindAttr src="artwork"}}>

      <p class="album-name">{{name}}</p>
      <p class="album-artist">{{artist}}</p>
      <p class="song-count">
        8 songs
        {{#if isExplicit}}
          <span class="explicit">EXPLICIT</span>
        {{/if}}
      </p>
    </div>
  {{/each}}
</div>